---
import { SectionTitle, CertificationCard } from '@components/react';
import certificates from '@config/certificates.json';
---

<section class="flex flex-col gap-12 my-16">
  <SectionTitle
    client:visible
    subtitle="confirmation of some competencies"
    title="Licenses & Certifications."
  />
  <div class="flex justify-evenly flex-wrap gap-4">
    {
      certificates.map((certificate, index) => (
        <CertificationCard
          client:only
          title={certificate.title}
          issued={certificate.issued}
          sourceImage={certificate.sourceImage}
          sourceCredential={certificate.sourceCredential}
          pdfCredential={certificate.pdfCredential}
          heightImage={certificate.heightImage}
          rounded={certificate.rounded}
          index={index}
        />
      ))
    }
  </div>
</section>
